*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* *::selection{
    user-select: none;
} */
.active{
    background-color: rgba(255, 255, 255, .4);
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    background: linear-gradient(rgb(29, 53, 105),rgb(33, 139, 196));
    justify-content: center;
    margin-top: 20px;

}
.container{
    height: 400px;
    width: 500px;
    display:flex ;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: white;

}
.headcontent{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    
}
/* .btn:nth-child(1){
    background-color: rgba(255, 255, 255, .4);
} */
.btn{
    height: 140%;
    width: 20%;
    border-radius: 4px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.wheathercontainer{
    height: 100%;
    width: 100%;
}
.mywheathercontainer{
    height: 100%;
    width: 100%;
    /* background-color: aliceblue; */
  
}
.wheatherdetail{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.location{
    width: 20%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    gap: 4px;
    
}
.cloud{
    width: 20%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-size: 1.2rem;

}
.temperaturereport{
    font-size: 2.5rem;
    margin: 20px 0;
}
.bottumarea{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
}
.bottumrect{
    background-color: rgba(255, 255, 255, .4);
    font-size: 1.06rem;

    height: 120%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    border-radius: 7px;
}